nav {
  background: rgba(0,0,0,0.2);
  width: max-content;
  padding: 0.6rem 1.7rem;
  z-index: 2;
  position: fixed;
  left: 50%;
  transform: translate(-50%);
  bottom: 2rem;
  display: flex;
  gap: 0.8rem;
  border-radius: 3rem;
  backdrop-filter: blur(10px);
}

nav > a {
  display: flex;
  background: transparent;
  color: var(--color-primary);
  transition: var(--transition);
  border-radius: 50%;
  padding: 0.9rem;
  font-size: 1rem;
}

nav > a:hover {
  background: rgba(0,0,0,0.3);
  transform: scale(1.1);
}

nav a.active {
  background: var(--color-bg);
  color: var(--light);
}
