.intro {
  margin-top: 8rem;
}

.intro__container {
  display: grid;
  grid-template-columns: 35% 60%;
  gap: 5rem;
  margin-top: 7rem;
}

.intro__about {
  width: 100%;
  aspect-ratio: 1/1;
  border-radius: 2rem;
  background: linear-gradient(45deg, transparent, var(--color-bg-variant),  transparent);
  display: grid;
  place-items: center;
}

.intro__about > img {
  border-radius: 2rem;
  overflow: hidden;
  transform: rotate(10deg);
  transition: var(--transition);
}

.intro__about > img:hover {
  transform: rotate(0deg);
}

.intro__cards {
  display: flex;
  gap: 2rem;
}

.intro__card {
  background: var(--color-bg-variant);
  border: 1px solid transparent;
  border-radius: 1rem;
  padding: 2rem;
  text-align: center;
}

.intro__card:hover {
  border: 1px solid var(--color-primary);
  background: transparent ;
  transition: var(--transition);
  cursor: default;
}

.intro__icon {
  font-size: 2rem;
  color: var(--color-primary);
  margin-bottom: 1rem;
}

.intro__card > h5 {
  font-size: 0.9rem;
}


.intro__card > small {
  font-size: 0.8rem;
}