.intro {
  margin-top: 8rem;
}

.intro__header h5 {
  font-size: 1.2rem;
}

.intro__header h2 {
  font-size: 2rem;
  color: var(--color-primary);
}

.intro__container {
  display: grid;
  grid-template-columns: 35% 65%;
  gap: 5rem;
  margin-top: 2rem;
}

.intro__about {
  width: 100%;
  aspect-ratio: 1/1;
  border-radius: 2rem;
  background: linear-gradient(45deg, transparent, var(--color-bg-variant),  transparent);
  display: grid;
  place-items: center;
}

.intro__about > img {
  border-radius: 2rem;
  overflow: hidden;
  transform: rotate(10deg);
  transition: var(--transition);
}

.intro__about > img:hover {
  transform: rotate(0deg);
}

.intro__cards {
  display: flex;
  gap: 2rem;
}

.intro__card {
  background: var(--color-bg-variant);
  border: 1px solid transparent;
  border-radius: 1rem;
  padding: 1.6rem;
  text-align: center;
}

.intro__card:hover {
  border: 1px solid var(--color-primary);
  background: transparent ;
  transition: var(--transition);
  cursor: default;
}

.intro__icon {
  font-size: 1.5rem;
  color: var(--color-primary);
  margin-bottom: 1rem;
}

.intro__card > h5 {
  font-size: 0.9rem;
}


.intro__card > small {
  font-size: 0.6rem;
  color: var(--color-primary);
}

.intro__content p {
  margin: 2rem 0 1.8rem;
  font-size: 0.9rem;
}

@media screen and (max-width: 1024px) {
  .intro__container {
    grid-template-columns: 1fr;
    gap: 0;
  }
  .intro__about {
    width: 50%;
    margin: 2rem auto 5rem;
  }
  .intro__content p {
    margin: 1rem 0 1.5rem;
  }
}

@media screen and (max-width: 600px) {
  .intro__about {
    width: 65%;
    margin: 0 auro 3rem;
  }
  .intro__cards {
    flex-direction: column;
    gap: 0.6rem;
  }
  .intro__content {
    text-align: center;
  }
}