.floatingdiv {
  justify-content: space-around;
  box-shadow: var(--boxShadow);
  display: flex;
  align-items: center;
  height: 4rem;
}

.floatingdiv > span {
  font-size: 1rem;
  color: var(--jungle);
}
